@import '../../content/styles/breakpoint';
$mainColor: #7d4c46;

.blog {
  margin: 0 8rem 50px 15rem;

  @include tablet {
    margin: 0 auto;
  }

  div {
    .heading {
      margin: 3rem 0 0.4375rem;

      @include mobile {
        font-size: 16px;
      }

      a {
        box-shadow: none;
        color: $mainColor;
      }
    }

    .date {
      .readTime {
        color: grey;
        font-size: 0.75rem;
        margin-left: 5px;
      }
      @include mobile {
        font-size: 12px;
      }
    }

    .text {
      @include mobile {
        font-size: 15px;
      }
    }
  }
}